@model bool
@{
    ViewData ["Title"] = "Confirmarção de sonta";
    ViewData ["SubTitle"] = Model ? "Conta confirmada com sucesso" : "Problemas ao confirmar Conta";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="card-body text-center text-white">
    <h4 class="mb-2">As melhores receiras da internet</h4>
    @if (Model)
    {
        <p class="mb-4 fs-5">Obrigado por confirmar seu email, clique no botão abaixo para entrar"</p>
        <a asp-action="Login" asp-controller="Account" class="btn btn-danger text-white">Ir para o login</a>
    }
    else{
        <p class ="mb-4 fs-5"> Infelismente ocorreu um problema com a confirmação de sua conta! Entre em con tato para solucionarmos o 
            seu problema</p>
    }
</div>